<% content_for :main do -%>
<div class="first" id="overview">
  <div class="inner">
  	<div class="left">
  		<div class="frame">
        <%= image_tag "studiowest.jpg", :size => "440x290" %>
				<h3>Studio West, 516 West MLK</h3>
  		</div>
			<h3 class="intro">Coworking is a movement that has gained momentum in urban areas such as San Francisco, Austin, and New York City, and is perfectly suited for the independent professional community in Ithaca, New York.  It is a sustainable, low-impact working solution that gives members access to all of the benefits of an office without the full overhead.</h3>
  	</div>
		<div class="right">
      <div class="frame">
        <%= image_tag "collaborative.jpg", :size => "200x195" %>
        <h3>Collaborative Workplace</h3>
      </div>
      <div class="frame">
        <%= image_tag "open.jpg", :size => "200x195" %>
        <h3>Open Floorplan</h3>
      </div>
      <div class="frame">
        <%= image_tag "privateoffice.jpg", :size => "200x195" %>
        <h3>Private Office</h3>
      </div>
      <div class="frame">
        <%= image_tag "conference.jpg", :size => "200x195" %>
        <h3>Conference Room</h3>
      </div>
		</div>
  </div>
</div>

<div class="second" id="rates">
  <div class="inner">
  	<div class="left">
  		<div class="table">
        <h2>Membership Rates</h2>
	      <table cellpadding="0" cellspacing="0">
	        <tbody>
	          <tr class="odd">
	            <th>Monthly Rate</th>
	            <td><strong>$175 / month</strong></td>
	          </tr>
	          <tr class="even">
              <th>Quarterly Rate (3 months)</th>
              <td><strong>$500 / quarter</strong></td>
	          </tr>
	          <tr class="odd">
              <th>Day Rate</th>
              <td><strong>$10 / day</strong></td>
	          </tr>
            <tr class="odd">
              <th>Evening Event Rate</th>
              <td><strong>$40 / hour</strong></td>
            </tr>
	        </tbody>
	      </table>
  		</div>
  	</div>
		<div class="right">
			<h2>Simple Membership Model</h2>
			<p>The business model is simple - we offer month to month memberships with <strong>no long term contract</strong>. Simply sign up with your credit card and use the studio whenever you want! The space is available 24 hours a day, 7 days a week and we'll give you your own keycode to get in. Start your membership on any day of the month and cancel whenever you want - just give us 5 days notice!</p>
		</div>
  </div>
</div>

<div class="third" id="resources">
  <div class="inner">
  	<div class="left">
      <h2>Reservable Resources</h2>
      <p>We offer a range of options to accomodate our member's various needs and work styles, including tables, stand up desks, couches, a private office, and a full conference room. Desks and couches are available to members on demand and the private office and conference room can be reserved on an as-needed basis using our shared Google Calendar. The private office and conference room are provided for collaborative work, client meetings, and presentations.</p>
  	</div>
		<div class="right">
      <%= image_tag "schedule.png", :width => "440" %>
		</div>
  </div>
</div>

<div class="fourth" id="events">
  <div class="inner">
    <div class="left">
      <div class="frame">
        <%= image_tag "party.jpg", :size => "440x250" %>
      </div>
    </div>
    <div class="right">
      <h2>Events / Workshops</h2>
      <p>During the hours between 6PM - 12AM, the studio is available for evening rentals. If you are interested in hosting an event at the space, we offer a competative rate of <strong>$40/hr</strong> to reserve the entire studio for your workshop, event, or party. Events must be scheduled at least two weeks in advance and if there's no event planned, the space is still available to members for coworking.</p>
    </div>
  </div>
</div>

<div class="fifth" id="neighborhood">
  <div class="inner">
  	<div class="left">
      <h2>Vibrant Neighborhood</h2>
      <p>Studio West is located in Ithaca's West End business district.  We are excited to share the block with such great neighbors as
			<%= link_to 'Gimme! Coffee', "http://www.gimmecoffee.com", :target => '_blank' %>,
			<%= link_to "Felicia's Atomic Lounge", "http://www.atomicloungeithaca.com", :target => '_blank' %>, 
      <%= link_to 'Saigon Kitchen', "http://www.saigonkitchenithaca.com", :target => '_blank' %>, and
      <%= link_to 'The Westy', "https://www.facebook.com/profile.php?id=1663563167", :target => '_blank' %>.
      Start your day with a cup of coffee and end it with a cocktail with coworkers. The studio is located less than a block away from the nearest <%= link_to 'Ithaca Carshare', "http://www.ithacacarshare.org", :target => '_blank' %> vehicle and just a short walk to The Commons.
  	</div>
    <div class="right">
      <div class="frame">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<div class="sixth" id="community">
  <div class="inner">
    <div class="left">
      <div class="frame">
        <%= image_tag "community.jpg", :size => "440x250" %>
      </div>
    </div>
    <div class="right">
      <h2>Creative Community</h2>
      <p>Coworking creates the unique opportunity for you to be part of a creative community of professional peers, many of whom could become collaborators, partners, or colleagues. By coworking at Studio West, we hope you'll find inspiration in sharing your professional time with our professional community.</p>
    </div>
  </div>
</div>

<div class="first" id="signup">
  <div class="inner">
    <div class="center">
      <div class="form">
        <% form_for @inquiry, { :url => home_path(:anchor => 'signup') } do |f| %>
          <div class="header">
            <h2>Apply Now</h2>
            <p>Ready to cowork? Complete the form below and we'll contact you with membership availability and schedule a time for you to visit the studio and meet us!</p>
          </div>
          <div class="body">
            <dl>
              <dt><%= f.label :first_name, "First Name" %></dt>
              <dd><%= f.text_field :first_name %></dd>
              <dt><%= f.label :last_name, "Last Name" %></dt>
              <dd><%= f.text_field :last_name %></dd>
              <dt><%= f.label :email %></dt>
              <dd><%= f.text_field :email %></dd>
              <dt><%= f.label :phone %></dt>
              <dd><%= f.text_field :phone %></dd>
            </dl>
          </div>
          <div class="buttons">
            <%= f.submit "Send" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>