<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', dashboard_url %> &raquo;
  <%= link_to 'Users', users_url %> &raquo;
  <span><%= @user.contact.name %></span>
<% end -%>

<% content_for :main do %>

  <div class="resource-header">

    <div class="resource-details-left">

      <div class="image">
        <%= image_tag 'company.jpg' %>
      </div>

      <p>
        <strong><%= @user.contact.name %></strong>
      </p>
    </div>
    
  </div>

  <div class="resource-details">
    <%= render 'shared/tags/show', :object => @user, :taggable_index => users_url, :path => user_path(@user), :type => 'User' %>
  </div>

  <div class="tabs">
    <ul>
      <li><%= link_to 'Details', user_url(@user), :class => 'details'+((params[:tab] == 'details') ? ' selected' : '') %></li>
      <li><%= link_to 'Notes', notes_user_url(@user), :class => 'notes'+((params[:tab] == 'notes') ? ' selected' : '') %></li>
	  </ul>
  </div>
  
  <div class="tab">
    <div class="body" id="details">
      <%= render params[:tab] %>
    </div>
  </div>

<% end %>

<% content_for :sidebar do -%>
  <h2>Tasks</h2>
  <ul class="tasks">
    <li><%= link_to 'Edit User', edit_user_url(@user), { :class => 'edit' } %></li>
  </ul>
<% end -%>